.w-container {
    font-family: "NotoMono";
    font-size: 28px;
    position: absolute;
    display: flex;
    height: 430px;
    width: 660px;
    top: 5px;
    left: 5px;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: top, left;
}

.w-container.maximized {
    top: 15px;
    left: 55px;
}

.w-table-container{
    font-size: 10px;
    transition-property: font-size, margin-left;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.w-table-container.maximized{
    font-size: 13px;
    margin-left: -45px;
}

.w-video-container{
    position: absolute;
    height: 170px;
    width: 230px;
    bottom: 14px;
    left: -26px;
    border-radius: 20px;
    transform: scale(70%) translateY(-80%) translateX(15%);
    opacity: 0;
    overflow: hidden;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    transition-property: transform, opacity;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.w-video-container.maximized{
    transform: scale(100%) translateY(0%) translateX(0%);
    opacity: 0.7;
}

.w-video2-container{
    position: absolute;
    height: 30px;
    width: 70px;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    overflow: hidden;
    opacity: 50%;
    filter: brightness(60%) contrast(600%);
}

.w-video{
    position: absolute;
    left: -64%;
    top: -40%;
}

.w-video2{
    position: absolute;
    left: -3px;
    top: -2px;
}

.w-tb-hr {
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    width: 15em;
    left: 3.5em;
    height: 1px;
}

.w-hr {
    background-color: rgba(255, 255, 255, 0.3);
    height: 1px;
}

.w-vr {
    background-color: rgba(255, 255, 255, 0.3);
    width: 1px;
}

.w-clock {
    font-family: "NotoMono";
}

.icon {
    display: inline-block;
}

.w-temp{
    font-size: 1em;
    display: inline-block;
    font-family: "NotoMono";
}

.w-bar-container {
    max-height: 0px;
    height: 100%;
    width: 2px;
    -transition: max-height 0.5s ease-in-out;
}

.w-bar {
    background-color: rgba(255, 255, 255, 0.8);
    height: 0%;
    width: 100%;
    animation: w-bar-appear 0.5s ease-in-out both;
}

@keyframes w-bar-appear {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}