.w-container {
    font-size: 100px;
    position: absolute;
    display: flex;
    height: 430px;
    width: 660px;
    top: 5px;
    left: 5px;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-property: top, left;
}

.w-container.maximized {
    top: 15px;
    left: 55px;
}

.w-hr {
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    width: 150px;
    left: 35px;
    height: 1px;
}

.w-bar {
    background-color: rgba(255, 255, 255, 0.8);
    width: 3px;
}

.w-clock {
    font-family: "NotoMono";
}

.icon {
    display: inline-block;
}

.w-temp{
    font-size: 1em;
    display: inline-block;
    font-family: "NotoMono";
}
